html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #a8edea, #fed6e3);
  text-align: center;
}


main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container {
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  max-width: 350px;
  width: 90%;
}


#dica {
  font-size: 1.1em;
  margin-bottom: 20px;
  font-weight: bold;
  color: #333;
}


#btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

#btn:hover {
  background-color: #235E15;
}

footer {
  background-color: rgba(0,0,0,0.1);
  padding: 10px;
  color: #333;
}